<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>文章管理</title>
	<link href="../tag/css/tag.css" th:href="@{/tag/css/tag.css}" rel="stylesheet">
	<link href="../css/dailymanage.css" th:href="@{/css/dailymanage.css}" rel="stylesheet">
</head>
<style type="text/css">
	
</style>
<body class="layui-layout-body">
	<!-- 公共头 -->
	<div th:replace="~{fragments/header :: header}"></div>
	
	<div class="layui-layout layui-layout-admin">
	
	  	<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
		      	<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		      	<ul class="layui-nav layui-nav-tree" lay-filter="test">
		      		<li class="layui-nav-item">
			          	<a class="" href="javascript:;">全局监控</a>
			          	<dl class="layui-nav-child">
			            	<dd><a href="index.html">图表显示</a></dd>
			          	</dl>
			       	</li>

					<li class="layui-nav-item layui-nav-itemed">
						<a class="" href="javascript:;">管理文章</a>
						<dl class="layui-nav-child">
							<dd><a class="layui-this" href="dailyManage.html">文章管理</a></dd>
							<dd><a href="classifyManage.html">类别管理</a></dd>
							<dd><a href="commentManage.html">评论管理</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="">新说唱</a></li>
		      	</ul>
		    </div>
	 	</div>
 	
	  
	  	<!-- 各个菜单对应页面 -->
	  	<div class="layui-body" style="padding:20px;">
	  		<div class="title"><span>文章管理</span></div>
	  	
	  		<!-- 导航 -->
	  		<div class="border-bottom">
				<ul class="layui-nav" style="background-color:#fff; margin-left:-20px;">
			      	<li class="layui-nav-item layui-this" th:class="${display == null}? 'layui-nav-item layui-this' : 'layui-nav-item'"><a href="dailyManage.html" style="color:#000" th:text="'全部(' + ${countAll} + ')'">全部(8)</a>
			      	<li class="layui-nav-item" th:class="${display == '0'}? 'layui-nav-item layui-this' : 'layui-nav-item'"><a href="dailyManage.html?display=0" style="color:#000" th:text="'已发布(' + ${count0} + ')'">已发布(1)</a>
			      	<li class="layui-nav-item" th:class="${display == '1'}? 'layui-nav-item layui-this' : 'layui-nav-item'"><a href="dailyManage.html?display=1" style="color:#000" th:text="'草稿箱(' + ${count1} + ')'">草稿箱(1)</a>
			      	<li th:class="${display == '2'}? 'layui-nav-item layui-this' : 'layui-nav-item'"><a href="dailyManage.html?display=2" style="color:#000" th:text="'回收站(' + ${count2} + ')'">回收站(1)</a>
			    </ul>
		    </div>
		    
		    <!-- 查询 -->
		    <form class="layui-form" action="">
			    <div class="search top-15">
		    		<span>发布时间：</span>
	    		 	<div class="select-80">
						<select name="year">
							<option value="">不限</option>
							<option value="0">2018</option>
							<option value="1">2017</option>
						</select>
					</div>
					
					<div class="select-80 left-20">
						<select name="month">
							<option value="">不限</option>
							<option value="0">2</option>
							<option value="1">3</option>
						</select>
					</div>
					
					<div class="select-150 left-20">
						<select name="type">
							<option value="">不限类型</option>
							<option value="0">生活琐事</option>
							<option value="1">技术文章</option>
						</select>
					</div>
					
					<div class="select-250 left-20">
						 <input type="text" name="title" placeholder="仅支持标题关键字搜索" autocomplete="off" class="layui-input">
					</div>
					
					<div class="select-80 left-20">
						 <button class="layui-btn" lay-submit lay-filter="formDemo" style="height:36px; line-heigth:36px;">搜索</button>
					</div>
			    </div>
		    </form>
		    
		    <!-- 文章 -->
		    <div class="item" th:each="tblDaily : ${tblDailys}">
				<div class="item-title"><span class="sgin">置顶</span><div class="left-0" th:text="${tblDaily.title}">Simditor跨域上传图片到服务器</div></div>
				<div class="item-describe">
					<span class="left" style="margin-left:0px;">原创</span>
					<span class="left">2018年05月10日 14:39:10</span>
					<span class="left" th:text="${tblDaily.click}">浏览：11</span>
					<span class="left">评论：10</span>
					
					<span class="right" style="margin-right:0px; border:0px;"><a href="">删除</a></span>
					<span class="right"><a href="">取消置顶</a></span>
					<span class="right"><a href="">禁止评论</a></span>
					<span class="right"><a href="">查看</a></span>
				</div>
			</div>

		    <div id="page"></div>
		    
		</div>
		
	</div>
	<!-- 公共的脚 -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script>
		//表单
		layui.use('form', function(){
			var form = layui.form;
			//监听提交
			form.on('submit(formDemo)', function(data){
				layer.msg(JSON.stringify(data.field));
				return false;
			});
		});
		
		//分页
		layui.use(['laypage', 'layer'], function(){
			var laypage = layui.laypage
			,layer = layui.layer;
			
			//完整功能
			laypage.render({
				elem: 'page'
				,count: [[${count}]]
				,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
				,jump: function(obj){
					console.log(obj)
				}
			});
			
			//调用分页
			laypage.render({
				elem: 'demo20'
				,count: data.length
				,jump: function(obj){
				//模拟渲染
				document.getElementById('biuuu_city_list').innerHTML = function(){
					var arr = []
					,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
					layui.each(thisData, function(index, item){
						arr.push('<li>'+ item +'</li>');
					});
					return arr.join('');
				}();
				}
			});
			  
		});
	</script>
</body>
</html>