<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>管理玩意</title>
</head>
<style type="text/css">
</style>
<body class="layui-layout-body">
	<!-- 公共头 -->
	<div th:replace="~{fragments/back/header :: header}"></div>
	
	<div class="layui-layout layui-layout-admin">
	
	  	<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
		      	<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		      	<ul class="layui-nav layui-nav-tree"  lay-filter="test">
		      		<li class="layui-nav-item layui-nav-itemed">
			          	<a class="" href="javascript:;">全局监控</a>
			          	<dl class="layui-nav-child">
			            	<dd class="layui-this"><a href="index.html">图表显示</a></dd>
			          	</dl>
			       	</li>
		      	
			        <li class="layui-nav-item">
			          	<a class="" href="javascript:;">管理文章</a>
			          	<dl class="layui-nav-child">
			            	<dd><a href="dailyManage.html">文章管理</a></dd>
							<dd><a href="classifyManage.html">类别管理</a></dd>
			            	<dd><a href="commentManage.html">评论管理</a></dd>
			          	</dl>
			       	</li>
			        <li class="layui-nav-item"><a href="">新说唱</a></li>
		      	</ul>
		    </div>
	 	</div>
	  
	  	<!-- 各个菜单对应页面 -->
	  	<div class="layui-body">
	 		<!-- 内容主体区域 -->
	    	<div style="padding: 15px;">
		      	<br><br>
		      	<blockquote class="layui-elem-quote">
		        	layui 之所以赢得如此多人的青睐，更多是在于它“前后台系统通吃”的能力。既可编织出绚丽的前台页面，又可满足繁杂的后台功能需求。
		        	<br>layui 后台布局， 致力于让每一位开发者都能轻松搭建自己的后台模板。
		      	</blockquote>
	  		</div>
		</div>
		
	</div>
	
	<!-- 公共的脚 -->
	<div th:replace="~{fragments/back/footer :: footer}"></div>
	<script>
	
	</script>
</body>
</html>