<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          th:fragment="header">
    <head>
        <meta charset="utf-8">
        <title>LONGTIAN的个人博客</title>
        <meta name="keywords" content="个人博客,龙甜,龙甜的个人博客" />
        <meta name="description" content="..." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="images/favicon.ico" th:href="@{/images/favicon.ico}"  rel="icon" type="image/x-icon" />
        <link href="css/base.css" th:href="@{/css/base.css}" rel="stylesheet">
        <link href="css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
        <link href="css/info.css" th:href="@{/css/info.css}" rel="stylesheet">
        <link href="css/m.css" th:href="@{/css/m.css}" rel="stylesheet">
    </head>
</html>