@charset "gb2312";
.infosbox { overflow: hidden; background: rgba(255,255,255,0.8); margin-bottom: 20px }
.newsview { padding: 0 30px }
.news_con a { color: #0e6dad }
.news_con a:hover { color: #000 }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.bloginfo { width: 100%; overflow: hidden }
.bloginfo li { float: left; margin-right: 20px }
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }

.gbko { margin-top: 100px;}
.comment-num{ margin-top:40px;font-weight: bold; color: #666; font-size: 16px;}
.layui-form {margin-top: 20px;}
.dis-item { overflow: hidden;}
.user-image {width: 10%; min-width:60px; float: left;}
.user-image img{width: 40px; height:40px;}
.dis-content {width: 80%; float: left; padding: 5px 5px 5px 20px; border-left: solid #bbbbbb 2px; position: relative; border-radius: 3px;}
.dis-content .content-info:after,.dis-content .content-info:before {content: ""; border: solid 10px transparent;border-left: none;border-right-color: #bbbbbb;position: absolute;left: -10px;top: 10px;}
.dis-content .content-info:after {border-right-color: #fff; left: -8px;}
.dis-item{margin-top: 40px;}
.reply{display: block; margin-top:10px; color: #666; margin-left: 5px;}
.user-say{margin-top:10px;}