<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/front/common :: commonHeader('留言板')}"></head>
<head>
    <link href="css/info.css" th:href="@{/css/gbook.css}" rel="stylesheet">
    <link href="layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>

<body>
<header class="header-navigation" id="header" th:include="~{fragments/front/common :: commonNav}"></header>
<article>
    <aside class="l_box">
        <div class="about_me" th:include="~{fragments/front/common::commonAboutMe}"></div>
        <div class="wdxc" th:include="~{fragments/front/common::commonAlbum}"></div>
        <div class="search" th:include="~{fragments/front/common::commonSearch}"></div>
        <div class="fenlei" th:include="~{fragments/front/common::commonArtClass}"></div>
        <div class="guanzhu" th:include="~{fragments/front/common::commonFocus}"></div>
    </aside>
    <main class="r_box">
        <div class="gbook">

            <div class="news_pl">
                <h2><i class="layui-icon" style="font-size: 15px; color: #20B2AA;">&#xe642;</i>留言板</h2>
                <ul>
                    <div class="discontent">
                        <p class="comment-num"><i class="layui-icon layui-icon-reply-fill" style="font-size: 30px;"></i>  724 thoughts on “留言板”</p>

                        <div class="dis-item" th:each="tblComment : ${tblCommentList}">
                            <div class="user-image">
                                <img src="images/aha.jpg" th:src="@{/images/aha.jpg}">
                                <a href="javascript:;" onclick="reply(this)" class="reply" style="display: block;">回复</a>
                            </div>
                            <div class="dis-content">
                                <div class="content-info">
                                    <div class="user-card"><a href="#" th:text="${tblComment.name}">社会龙</a>&nbsp;&nbsp;<span th:text="${tblComment.pudate}">2018/06/27 17:45 </span></div>
                                    <div class="user-say" th:text="${tblComment.ob1}">
                                        社会我龙哥，人狠话不多<br>
                                    </div>
                                </div>
                            </div>
                            <div class="dis-item-sub" th:each="tblCommentSub : ${tblComment.getTblCommentList()}">
                                <div class="user-image">
                                    <img src="images/aha.jpg" th:src="@{/images/aha.jpg}">
                                    <a href="#" class="reply">回复</a>
                                </div>
                                <div class="dis-content">
                                    <div class="content-info">
                                        <div class="user-card"><a href="#" th:text="${tblCommentSub.name}">社会龙</a> @ <a href="#" th:text="${tblComment.name}">社会龙</a>&nbsp;&nbsp;<span th:text="${tblCommentSub.pudate}">2018/06/27 17:45 </span></div>
                                        <div class="user-say" th:text="${tblCommentSub.ob1}">
                                            社会我龙哥，人狠话不多<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="gbko">
                        <p>告诉你一个秘密，只要填写昵称和邮箱就可以留言了,并且还要誓死保密你邮箱哦....</p>
                        <form class="layui-form" action="commentAdd" method="post">
                            <div class="layui-form-item">
                                <input type="hidden" name="id" >
                                <input type="text" style="margin-left: 0;" name="name"  lay-verify="required" autocomplete="off" class="layui-input" placeholder="昵称：">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" placeholder="邮箱：">
                                <input type="text" name="website" autocomplete="off" class="layui-input" placeholder="网址：">
                            </div>
                            <div class="layui-form-item layui-form-text" style="margin-top:10px;">
                                <textarea id="discuss" name="discuss" style="display: none;"></textarea>
                            </div>
                            <button style="float:right;" id="dis-btn" class="layui-btn layui-btn-primary" onclick="">提交</button>
                        </form>
                    </div>
                </ul>
            </div>

        </div>
    </main>
</article>
<div th:replace="~{fragments/front/common::commonFooter}"></div>
<a href="#" class="cd-top">Top</a>
<script src="layui/layui.js" th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
    var layedit;
    var index;
    $(function(){
        //编辑器部分
        layui.use('layedit', function(){
            layedit = layui.layedit;
            //创建富文本
            index = layedit.build('discuss',{
                tool: ['link', 'unlink', '|', 'face'],
                height: 100,
                width: 720
            });
        });
    });

    function reply(element){
        var tmp = $(element).parent().parent();
        $(".gbko").css('width','90%');
        $(".gbko").css('margin-left','10%');
        tmp.append($(".gbko"));

        //改变a
        $(element).attr('href','#');
        $(element).text('取消回复');
    }

    $(function(){
    })
</script>
</body>
</html>
