<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/front/common :: commonHeader('留言板')}"></head>
<head>
    <link href="css/info.css" th:href="@{/css/word.css}" rel="stylesheet">
    <link href="layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>

<body>
<header class="header-navigation" id="header" th:include="~{fragments/front/common :: commonNav}"></header>
<article>
    <aside class="l_box">
        <div class="about_me" th:include="~{fragments/front/common::commonAboutMe}"></div>
        <div class="wdxc" th:include="~{fragments/front/common::commonAlbum}"></div>
        <div class="search" th:include="~{fragments/front/common::commonSearch}"></div>
        <div class="fenlei" th:include="~{fragments/front/common::commonArtClass}"></div>
        <div class="guanzhu" th:include="~{fragments/front/common::commonFocus}"></div>
    </aside>
    <main class="r_box">
        <div class="gbook">

            <div class="news_pl">
                <h2><i class="layui-icon" style="font-size: 15px; color: #20B2AA;">&#xe642;</i>留言板</h2>
                <ul>
                    <div class="discontent">
                        <p class="comment-num"><i class="layui-icon layui-icon-reply-fill" style="font-size: 30px;"></i>  724 thoughts on “留言板”</p>

                        <div class="dis-item">
                            <div class="user-image">
                                <img src="images/aha.jpg" th:src="@{/images/aha.jpg}">
                                <a href="#" class="reply">回复</a>
                            </div>
                            <div class="dis-content">
                                <div class="content-info">
                                    <div class="user-card"><a href="#">社会龙</a>&nbsp;&nbsp;<span>2018/06/27 17:45 </span></div>
                                    <div class="user-say">
                                        刚刚开通博客，测试一下留言板的效果~<br>
                                        刚刚开通博客，测试一下留言板的效果~<br>
                                        刚刚开通博客，测试一下留言板的效果~<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dis-item">
                            <div class="user-image">
                                <img src="images/aha.jpg" th:src="@{/images/aha.jpg}">
                                <a href="#" class="reply">回复</a>
                            </div>
                            <div class="dis-content">
                                <div class="content-info">
                                    <div class="user-card"><a href="#">社会龙</a>&nbsp;&nbsp;<span>2018/06/27 17:45 </span></div>
                                    <div class="user-say">
                                        社会我龙哥，人狠话不多<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dis-item">
                            <div class="user-image">
                                <img src="images/aha.jpg" th:src="@{/images/aha.jpg}">
                                <a href="#" class="reply">回复</a>
                            </div>
                            <div class="dis-content">
                                <div class="content-info">
                                    <div class="user-card"><a href="#">社会龙</a>&nbsp;&nbsp;<span>2018/06/27 17:45 </span></div>
                                    <div class="user-say">
                                        社会我龙哥，醉酒还开车。<br>
                                        宝马载小弟，怀中抱大波。<br>
                                        威风吓路人，四轮怼电车。<br>
                                        下车动拳脚，发现打不过。<br>
                                        转身去提刀，挥砍多婀娜。<br>
                                        谁料手抖擞，刀落反被抢。<br>
                                        装逼被反杀，小弟急逃忙。<br>
                                        虎颈花臂染，肚外遛肥肠。<br>
                                        龙哥遇何人，保安大队长。<br>
                                        事发众人知，网友调侃忙。<br>
                                        大虫一命丧，路人灾难挡。<br>
                                        更有律师言，杀人命该偿。<br>
                                        遥记碰瓷案，车主反赔偿。<br>
                                        坏老各作案，法律帮倒忙。<br>
                                        风气一时正，摔倒不敢帮。<br>
                                        曾有一小伙，车站病发慌。<br>
                                        手举百元钞，无人问冷凉。<br>
                                        国泰且安康，道德病怏怏。<br>
                                        街上行尸肉，愚民无信仰。<br>
                                        浮躁少文化，生活多迷茫。<br>
                                        小学做主播，低俗来钱爽。<br>
                                        辛苦干实业，可怜住无房。<br>
                                        烈日艳灼人，蓝天绿水长。<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dis-item">
                            <div class="user-image">
                                <img src="images/aha.jpg" th:src="@{/images/aha.jpg}">
                                <a href="#" class="reply">回复</a>
                            </div>
                            <div class="dis-content">
                                <div class="content-info">
                                    <div class="user-card"><a href="#">社会龙</a>&nbsp;&nbsp;<span>2018/06/27 17:45 </span></div>
                                    <div class="user-say">
                                        社会我龙哥，人狠话不多<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gbko">
                        <p>告诉你一个秘密，只要填写昵称和邮箱就可以留言了,并且还要誓死保密你邮箱哦....</p>
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <input type="text" style="margin-left: 0;" name="name"  lay-verify="required" autocomplete="off" class="layui-input" placeholder="昵称：">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" placeholder="邮箱：">
                                <input type="text" name="website" autocomplete="off" class="layui-input" placeholder="网址：">
                            </div>
                            <div class="layui-form-item layui-form-text" style="margin-top:10px;">
                                <textarea id="discuss" name="discuss" style="display: none;"></textarea>
                            </div>
                            <button style="float:right;" id="dis-btn" class="layui-btn layui-btn-primary" onclick="">提交</button>
                        </form>
                    </div>
                </ul>
            </div>

        </div>
    </main>
</article>
<div th:replace="~{fragments/front/common::commonFooter}"></div>
<a href="#" class="cd-top">Top</a>
<script src="layui/layui.js" th:src="@{/layui/layui.js}" type="text/javascript"></script>
<script>
    var layedit;
    var index;
    $(function(){
        //编辑器部分
        layui.use('layedit', function(){
            layedit = layui.layedit;
            //创建富文本
            index = layedit.build('discuss',{
                tool: ['link', 'unlink', '|', 'face'],
                height: 100,
                width: 720
            });
        });
    });

    $(function(){
    })
</script>
</body>
</html>
