<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/front/common :: commonHeader('主页')}"></head>
<body>
<header class="header-navigation" id="header" th:include="~{fragments/front/common :: commonNav}"></header>
<article>
  <aside class="l_box">
    <div class="about_me" th:include="~{fragments/front/common::commonAboutMe}"></div>
    <div class="wdxc" th:include="~{fragments/front/common::commonAlbum}"></div>
    <div class="search" th:include="~{fragments/front/common::commonSearch}"></div>
    <div class="fenlei" th:include="~{fragments/front/common::commonArtClass}"></div>
    <div class="tuijian" th:include="~{fragments/front/common::commonRecommand}"></div>
    <div class="links" th:include="~{fragments/front/common::commonLinks}"></div>
    <div class="guanzhu" th:include="~{fragments/front/common::commonFocus}"></div>
  </aside>
  <main class="r_box">
    <li th:each="tblDaily : ${tblDailys}"><i><a href="/"><img src="images/1.jpg" th:src="${tblDaily.cover}"></a></i>
      <h3><a href="/info" th:href="${'/detail/art_' + tblDaily.id + '.html'}" th:text="${tblDaily.title}">你是什么人便会遇上什么人</a></h3>
      <p th:text="${tblDaily.summary}">有时就为了一句狠话，像心头一口毒钉，永远麻痺着亲密感情交流。恶言，真要慎出，平日多誠心爱语，乃最简易之佈施。</p>
    </li>
  </main>
</article>
<div th:replace="~{fragments/front/common::commonFooter}"></div>
<a href="#" class="cd-top">Top</a>
<script>
    $(function(){
    })
</script>
</body>
</html>
