<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nicecoder.mapper.TblTypeMapper">
  <resultMap id="BaseResultMap" type="TblType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="creattime" jdbcType="VARCHAR" property="creattime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, typename, count, creattime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_type
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectFirstFive" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_type order by creattime limit 5
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_type
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from tbl_type
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="TblType">
    insert into tbl_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typename != null">
        typename,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="creattime != null">
        creattime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="increase"  parameterType="java.lang.Integer">
          update tbl_type set count = count + 1 where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="update" parameterType="TblType">
    update tbl_type
    <set>
      <if test="typename != null">
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="creattime != null">
        creattime = #{creattime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>