<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nicecoder.mapper.TblUserMapper" >
  <resultMap id="BaseResultMap" type="TblUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="ob1" property="ob1" jdbcType="VARCHAR" />
    <result column="ob2" property="ob2" jdbcType="VARCHAR" />
    <result column="ob3" property="ob3" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, image, name, email, website, ip, ob1, ob2, ob3
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="delete" parameterType="java.lang.Integer" >
    delete from tbl_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="TblUser" >
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="ob1 != null" >
        ob1,
      </if>
      <if test="ob2 != null" >
        ob2,
      </if>
      <if test="ob3 != null" >
        ob3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ob1 != null" >
        #{ob1,jdbcType=VARCHAR},
      </if>
      <if test="ob2 != null" >
        #{ob2,jdbcType=VARCHAR},
      </if>
      <if test="ob3 != null" >
        #{ob3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="TblUser" >
    update tbl_user
    <set >
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ob1 != null" >
        ob1 = #{ob1,jdbcType=VARCHAR},
      </if>
      <if test="ob2 != null" >
        ob2 = #{ob2,jdbcType=VARCHAR},
      </if>
      <if test="ob3 != null" >
        ob3 = #{ob3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>